.logo				{ width:144px; height:22px; background:url(../image/logo_CEO.png) top left no-repeat; background-size:auto 100%; }
.logo-wrap .ui-site .selsite 	{ margin-left:25px; }
.logoutarea .ui-username .name 	{ color:#185de0; }
.navi-bg						{ background:#232E5C; }/* Change: body background */
.menu-on-b > span				{ color:#A58850; }
.SubMenu-bg 					{ background-color:#A58850; }
.SubMenu li a:hover				{ color:#232E5C; font-weight:bold !important; }
.SubMenu li a.on				{ color:#232E5C; }
.SubMenu li a.on:before			{ background:#232E5C; }


.title-bg						{ background-color:#232E5C; }
.progress li.on	a				{ color:#232E5C; }
.progress li.on:after			{ background:#232E5C; }
.cmdspan						{ background:#0095C3 !important; border:1px solid #006b8c !important; }
.cmdspan:hover					{ background:#006b8c !important; }
.Tabs .ui-tabs-panel { border-top:3px solid #232E5C; }
.ui-tabs-nav .ui-state-default.ui-tabs-active a	 { background-color:#232E5C; }
.icon-able { background-color:#185de0; }

.ui-dialog.ui-draggable { border:1px solid #232e5c; }
.ui-dialog-titlebar { background-color:#232E5C; }